
<ul>
  <% @space.each do |space| %>
    <li>
        <%= space.name %>
        <%= space.description %>
        <%= space.price %>
        <br>
        Available From:    
        <%= space.start_date %>
        to
        <%= space.end_date %>
    </li>
  <% end %>
</ul>

